@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --bg-color: #174269;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'inter';
}


header{
    display: flex;
    padding: 1.5rem;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}


header a{
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

header .siteName{
    font-weight: 800;
}

nav{
    width: 100%;
    background: var(--bg-color);
}


nav ul{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    color: white;
    justify-content: center;
    cursor: pointer;
}


nav li{
    list-style: none;
}

nav li a{
    color: white;
    text-decoration: none;
}

h1,
h2,
h3{
    font-size: 1.5rem;
    margin: 1rem 2rem;
}

.hero{
    position: relative;
}

.hero .hero-img{
    width: 90%;
}

.hero-pop{
    position: absolute;
    top: 50%;
    left: 3rem;
    max-width: 200px;
    transform: translateY(-50%);
    border: 1px solid white;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    color: var(--bg-color);
}


.hero-pop h2{
    margin: 0 0 1rem 0;
}

.hero-pop img{
    margin: 1rem 0 0 0;
    width: 100%;
    cursor: pointer;
}

.reviwes ul{
    margin: 0 4rem;
}

.reviwes li{
    margin: .5rem 0;
}


.upgrades{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:repeat(3, auto);
}

.upgrades h2{
    grid-column: 1 / span 2;
}

.upgrades .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}


.item :nth-child(even){
    grid-row: 2;
    grid-column: 2;
}

.item :nth-child(odd){
    grid-row: 2;
    grid-column: 3;
}

.upgrades img{
    max-height: 150px;
    width: 150px;
    padding: 2rem;
    background: var(--bg-color);
}

#inv-display{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    max-width: 80%;
    margin: 1rem auto;
}

#inv-display li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid var(--bg-color);
    padding: 1rem;
    max-width: 300px;
}

#inv-display a{
    text-decoration: none;
    color: var(--bg-color);
}

#inv-display span{
    font-weight: bold;
    font-style: italic;
}

#error-title{
    text-align: center;
}

#error-message{
    text-align: center;
    font-size: 1.2rem;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

@media screen and (min-width: 768px) {
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        background: url('/images/site/checkerboard.jpg');
        height: 200vh;
    }

    #wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: white;
        width: 700px;
        padding: 1rem;
    }

    .hero .hero-img{
        width: 550px;
    }
}
