<% const d = new Date()
let year = d.getFullYear() %>
<div id="footer"></div>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
</footer>
<div id="errorLink"><a href="/inv/detail/67">Link Error</a></div>
